<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>四喜丸子</string>
	<key>AlbumGuid</key>
	<string>44669edc-0b48-425a-8729-d2cd6083b1e2</string>
	<key>studio_info</key>
	<dict>
		<key>name_pinyin</key>
		<string>LileiAndHanmeimei</string>
		<key>share_type</key>
		<string>婚纱相册</string>
		<key>studio_name</key>
		<string>吴刚婚纱摄影</string>
		<key>id</key>
		<string>weixiangce001@163.com</string>
		<key>password</key>
		<string>19881111hk</string>
		<key>kbguid</key>
		<string>314fb076-81fa-4b20-8ba8-561bf4c7a436</string>
		<key>classic_guid</key>
		<string>70222542-bd63-41c2-ae23-4f371660b190</string>
		<key>production_guid</key>
		<string>fcaa4147-5e06-4cb1-8376-e2352f359074</string>
		<key>activity_guid</key>
		<string>0f6a0f3f-e7f2-4ba1-b3c4-82788ee985c7</string>
		<key>studio_number</key>
		<string>ffbf7d0f-a16f-48a6-a05b-6bc5ed412868</string>
		<key>studio_recomm</key>
		<string>75d02812-a5fa-4c33-8cd4-7e17890727c2</string>
		<key>studio_about</key>
		<string>cb6cd4f0-1a18-42d5-a485-d783ac7c54d5</string>
		<key>Mummy_Kitchen</key>
		<string>52bb2ad7-ada1-4d0f-8cfa-9ac241e1d77d</string>
		<key>Maternal_Child_Health</key>
		<string>6ee3486b-a6fd-4dc4-8184-fba3e94361ca</string>
		<key>Family_games</key>
		<string>b6134775-1a54-4a88-9730-2129c16d28a1</string>
		<key>Parental_knowledge</key>
		<string>d9794b3f-703c-43d9-b196-29d75a4f58d4</string>
		<key>Early_Education</key>
		<string>59ae7dcf-5e27-46ea-821d-60547f9662fb</string>
	</dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.trends-china.ertongceshi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx98508367ffed97ec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQZone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101006465</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ06053C81</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
